@charset "UTF-8";

html{
    font-size: 19px;
}

body {
    background-color: black;
    color: silver;
    text-align: center;
    font-family: Sawarabi Mincho, Sawarabi Gothic, Hiragino Kaku Gothic ProN W3, Helvetica, Meiryo, Tahoma;
}

div#containter{
    width: 600px;
    margin: 0 auto;
    background-color: #111111;
}

div.page{
    width: calc(100% - 40px);
    height: 70vh;
    padding: 20px;
    margin: 20px auto;
    background-color: #333333;
}

p{
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 0;
}